<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AWSProfileName" value="dev-andrew-lane"/>
    <add key="AWS.Region" value="us-east-1" />
    <add key="AWS.Kineses.DeliveryStreamName" value="playground-firehose-alane" />
    <add key="MillisecondsToSleepBetweenPuts" value="1000"/>
  </appSettings>
</configuration>